<div data-ng-controller="ListController">
    <table>
        <tr data-ng-repeat="movie in movies">
            <td>{{movie.Title}}</td>
            <td>
                <a class="btn btn-default" href="#/details/{{movie.Id}}">Details</a>
                <button class="btn btn-default" data-ng-click="delete(movie)">Delete</button>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" data-ng-click="create()">Create</button>
    <div data-ng-include="'/Client/Views/edit.html'"></div>
</div>
