@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Client/Scripts/atTheMovies.js"></script>
    <script src="~/Client/Scripts/ListController.js"></script>
}
<div data-ng-app="atTheMovies">
    <div data-ng-controller="ListController">
        <table>
            <tr data-ng-repeat="movie in movies">
                <td>{{movie.Title}}</td>
            </tr>
        </table>
    </div>
</div>